:root{
    --font_navbar: 'verdana';
    --font_notices: 'georgia';

    --color_navbar: rgb(240, 240, 240);
    --color_galerys: rgb(216, 216, 216);
    --cl_nvHover: rgb(188, 187, 187);

    --bg_navbar: rgb(0, 0, 0);
    --bg_notices: rgb(198, 198, 198);
    --bg_btnplay: rgba(0, 0, 0, 0.708);
    --bg_gallery_container: rgba(0, 0, 0, 0.13);
}