*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(imagens/Campo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


#menu{
    text-align: center; 
    list-style: nome;
    width: 100%;
    background-color: black;
    padding: 8px;
}
#menu li{
    display: inline;
}
#menu li a{
    text-decoration: none;
    padding: 40px;
    color: #fff;
    display: inline;
    cursor: pointer;
}

.text-tg{
    position: absolute;
    margin-top: 3.5%;
    text-align: center;
    font-family: Impact, fantasy;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 5px;
    color: red;
}
.num{
    margin-top: 1%;
    letter-spacing: 5px;
}
.texto-acao{
    text-align: center;
    margin-top: 3%;
    margin-left: 22%;
    margin-right: 20%;
    list-style: nome;   
}

.texto-acao p{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 2.5px;
    font-weight: 900;
    color: red;
}
h1{
    position: absolute;
    margin-top: 18%;
    font-weight: normal;
    font-family: Arial;
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 0, 0);
}

.contador{
    position: fixed;
    margin-top: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text{
    font-weight: bold;
    font-size: 50px;
    line-height: 1;
    margin: 1rem 2rem;    
}

.contador-x{
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
}

.contador-x span{
    font-size: 20px;
}

.img-fundo-menu{    
    opacity: 15%;
    margin-top: 2%;
    text-align: center;   
}