/* interacao */
.interacao {
    height: 85vh;
    background: rgb(0, 0, 0);
    color: white;
}

.interacao .titles{
    padding: 20px 0;
    font-size: 2.1rem;
}

#interacao-container label {
    text-align: center;
    font-size: 0, 75rem;
    font-family: Georgia;
}

#btn-selecionado {
    width: 30vh; /* Tamanho do input */
    margin-top: .5rem;
    display: flex;
    padding: 0.75rem;
    align-items: center;
    justify-content: space-between;

    border-radius: .375rem;
    border: 1px solid #252529;
    background-color: #17171A;
}

#setas i{
    width: 1rem;
    height: 1rem;
}

#setas {
    color: #eee;
}

#setas [class="fa-solid fa-chevron-up"]{
    display: none;  
}

/*Cor após select*/
#estados:focus + #btn-selecionado,
#estados:checked + #btn-selecionado{
    outline: 1px solid #A881E6;
}

#interacao-container:has(#estados:checked) label,
#estados:checked + #btn-selecionado #setas {
    color: #A881E6;
}

#estados:checked + #btn-selecionado #setas [class="fa-solid fa-chevron-down"] {
    display: none;
}

#estados:checked + #btn-selecionado #setas [class="fa-solid fa-chevron-up"] {
    display: block;
}

#interacao-container {
    position: relative;
}

#estados {
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
    z-index: 3;
}

#opcoes {
    width: 30vh;
    margin-top: .25rem;
    border: 1px solid #252529;
    border-radius: .375rem;
    background: #17171A;

    display: none;
}

.opcao {
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .75rem;
    border-bottom: 1px solid #252529;
}

.opcao .label{
    color: #FBF9FE;
}

.opcao i{ /* Tamanho do icone check */
    width: 1rem;
    height: 1rem;
}

.opcao i:last-child {
    margin-left: auto;
    color: #A881E6;
    display: none;
}
/* Seleção da caixa */
.opcao:has(input:checked),
.opcao:hover {
    border-bottom: 1px solid #252529;
    background-color: #252529;
}

.opcao:has(input:focus) {
    outline: 1px solid #A881E6;
}

.opcao:has(input:checked) #check{
    display: block;
}
/* Opção de clicar em qualquer lugar da caixa */
.opcao input[type="radio"]{
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
}
/* Fechar e abrir caixa */
#interacao-container:has(#estados:checked) + #opcoes{
    display: block;
}

.interacao:has(.opcao input:checked) #interacao-container label{
    color: #A881E6;
}

.interacao:has(.opcao input:checked) #selecionado {
    color: #FBF9FE;
}